<div class="user-dashboard" *ngIf="userInfo">
  <h1>Welcome, {{ userInfo.name }} {{ userInfo.surname }}</h1>

  <div class="user-details">
    <p><strong>Email:</strong> {{ userInfo.email }}</p>
    <p><strong>Telephone Number:</strong> {{ userInfo.telephoneNumber }}</p>
    <p *ngIf="userInfo.address"><strong>Address:</strong> {{ userInfo.address }}</p>
  </div>

    <div *ngIf="loans.length == 0">
      <h2>No Loans associated to this user!</h2>
    </div>  

    <div *ngIf="loans.length > 0">
    <h2>Your Loans</h2>
    <ul>
      <li *ngFor="let loan of loans">
        <button class="booking-button" (click)="goToArticleDetails(loan.articleId)">
          <strong>{{ loan.articleTitle }}</strong>
        </button>
        <span *ngIf="isLoanActive(loan)">
          Due on {{ loan.dueDate | date }}
        </span>
        <span *ngIf="!isLoanActive(loan)">
          {{ loan.state }}
        </span>
      </li>
    </ul>

    <div class="pagination-controls" *ngIf="showAllLoans && totalLoansPages > 1">
      <button (click)="previousLoanPage()" [disabled]="currentLoansPage === 1">Previous</button>
      <span>Page {{ currentLoansPage }} of {{ totalLoansPages }}</span>
      <button (click)="nextLoanPage()" [disabled]="currentLoansPage === totalLoansPages">Next</button>
    </div>
  </div>

  <div *ngIf="bookings.length == 0">
    <h2>No Bookings associated to this user!</h2>
  </div>  

  <div *ngIf="bookings.length > 0">
    <h2>Your Bookings</h2>
    <ul>
      <li *ngFor="let booking of bookings">
        <button class="booking-button" (click)="goToArticleDetails(booking.bookedArticleId)">
          <strong>{{ booking.bookedArticleTitle }}</strong>
        </button>  
        <span *ngIf="isBookingActive(booking)">
          Reserved until {{ booking.bookingEndDate | date }}
        </span>
        <span *ngIf="!isBookingActive(booking)">
          {{ booking.state }} 
        </span> 
      </li>
    </ul>

    <div class="pagination-controls" *ngIf="showAllBookings && totalBookingPages > 1">
      <button (click)="previousBookingPage()" [disabled]="currentBookingsPage === 1">Previous</button>
      <span>Page {{ currentBookingsPage }} of {{ totalBookingPages }}</span>
      <button (click)="nextBookingPage()" [disabled]="currentBookingsPage === totalBookingPages">Next</button>
    </div>
  </div>

  <button *ngIf="userInfo.totalBookings > maxBookingsPerPage" (click)="toggleBookingHistory()">
    {{ showAllBookings ? 'Hide History' : 'Show History' }}
  </button>

  <button *ngIf="userInfo.totalLoans > maxLoansPerPage" (click)="toggleLoanHistory()">
    {{ showAllLoans ? 'Hide History' : 'Show History' }}
  </button>

  <button (click)="searchArticles()">Search Articles</button>
</div>

<div *ngIf="errorMessage">
  <p class="error">{{ errorMessage }}</p>
</div>
