<div class="search-articles-form">
  <h2>Search Articles</h2>

 <!-- Toggle button to collapse/expand the search form -->
<button class="toggle-button" (click)="toggleForm()">
  <span *ngIf="formCollapsed">▼ Show Search</span>
  <span *ngIf="!formCollapsed">▲ Hide Search</span>
</button>


  <!-- Collapsible form -->
  <form *ngIf="!formCollapsed" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="title">Title:</label>
    <input id="title" formControlName="title" type="text" />

    <label for="author">Author:</label>
    <input id="author" formControlName="author" type="text" />

    <label for="isbn">ISBN:</label>
    <input id="isbn" formControlName="isbn" type="text" />

    <label for="issn">ISSN:</label>
    <input id="issn" formControlName="issn" type="text" />

    <label for="isan">ISAN:</label>
    <input id="isan" formControlName="isan" type="text" />

    <label for="genre">Genre:</label>
    <input id="genre" formControlName="genre" type="text" />

    <label for="publisher">Publisher:</label>
    <input id="publisher" formControlName="publisher" type="text" />

    <label for="yearEdition">Year of Edition:</label>
    <input id="yearEdition" formControlName="yearEdition" type="date" />

    <label for="issueNumber">Issue Number:</label>
    <input id="issueNumber" formControlName="issueNumber" type="number" />

    <label for="director">Director:</label>
    <input id="director" formControlName="director" type="text" />

    <!-- Dropdown to select results per page -->
    <label for="resultsPerPage">Results Per Page:</label>
    <select id="resultsPerPage" formControlName="resultsPerPage" (change)="onResultsPerPageChange()">
      <option *ngFor="let option of resultsPerPageOptions" [value]="option">{{ option }}</option>
    </select>

    <button type="submit">Search</button>
  </form>


  <!-- Display the ArticleListComponent -->
  <app-article-list [articles]="articles" 
                    [totalResults]="totalResults"
                    [totalPages]="totalPages"
                    [currentPage]="currentPage"
                    [searchFormData]="searchForm.value"
                    (pageChange)="goToPage($event)">
  </app-article-list>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
