<mat-card class="search-users-form">
  <h2>Search Users</h2>

  <button mat-button (click)="toggleForm()">
    <mat-icon>{{ formCollapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
    {{ formCollapsed ? 'Show Search' : 'Hide Search' }}
  </button>

  <mat-expansion-panel [expanded]="!formCollapsed">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Telephone Number</mat-label>
          <input matInput formControlName="telephoneNumber" type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Results Per Page</mat-label>
          <mat-select formControlName="resultsPerPage" (selectionChange)="onResultsPerPageChange()">
            <mat-option *ngFor="let option of resultsPerPageOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
    </form>
  </mat-expansion-panel>

  <app-user-list
    *ngIf="users.length > 0"
    [users]="users"
    [totalResults]="totalResults"
    [totalPages]="totalPages"
    [currentPage]="searchForm.get('pageNumber')?.value"
    [pageSize]="searchForm.get('resultsPerPage')?.value"
    [searchFormData]="searchForm.value"
    (pageChange)="goToPage($event)">
  </app-user-list>
</mat-card>
