<mat-card class="add-article-form">
  <h2>Add New Article</h2>

  <form [formGroup]="addArticleForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" (selectionChange)="onTypeChange()">
        <mat-option *ngFor="let type of articleTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="addArticleForm.get('type')?.invalid && addArticleForm.get('type')?.touched">
        Type is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" type="text" />
      <mat-error *ngIf="addArticleForm.get('title')?.invalid && addArticleForm.get('title')?.touched">
        Title is required.
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="showBookFields()">
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" type="text" />
        <mat-error *ngIf="addArticleForm.get('author')?.invalid && addArticleForm.get('author')?.touched">
          Author is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ISBN</mat-label>
        <input matInput formControlName="isbn" type="text" />
        <mat-error *ngIf="addArticleForm.get('isbn')?.invalid && addArticleForm.get('isbn')?.touched">
          ISBN is required.
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="showMagazineFields()">
      <mat-form-field appearance="fill">
        <mat-label>Issue Number</mat-label>
        <input matInput formControlName="issueNumber" type="number" />
        <mat-error *ngIf="addArticleForm.get('issueNumber')?.invalid && addArticleForm.get('issueNumber')?.touched">
          Issue number is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ISSN</mat-label>
        <input matInput formControlName="issn" type="text" />
        <mat-error *ngIf="addArticleForm.get('issn')?.invalid && addArticleForm.get('issn')?.touched">
          ISSN is required.
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="showMovieDvdFields()">
      <mat-form-field appearance="fill">
        <mat-label>Director</mat-label>
        <input matInput formControlName="director" type="text" />
        <mat-error *ngIf="addArticleForm.get('director')?.invalid && addArticleForm.get('director')?.touched">
          Director is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ISAN</mat-label>
        <input matInput formControlName="isan" type="text" />
        <mat-error *ngIf="addArticleForm.get('isan')?.invalid && addArticleForm.get('isan')?.touched">
          ISAN is required.
        </mat-error>
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" type="text" />
      <mat-error *ngIf="addArticleForm.get('location')?.invalid && addArticleForm.get('location')?.touched">
        Location is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Year of Edition</mat-label>
      <input matInput formControlName="yearEdition" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" [startAt]="startYear"></mat-datepicker>
      <mat-error *ngIf="addArticleForm.get('yearEdition')?.invalid && addArticleForm.get('yearEdition')?.touched">
        Year of Edition is required and cannot be in the future.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Publisher</mat-label>
      <input matInput formControlName="publisher" type="text" />
      <mat-error *ngIf="addArticleForm.get('publisher')?.invalid && addArticleForm.get('publisher')?.touched">
        Publisher is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <input matInput formControlName="genre" type="text" />
      <mat-error *ngIf="addArticleForm.get('genre')?.invalid && addArticleForm.get('genre')?.touched">
        Genre is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="addArticleForm.invalid">
      <mat-icon>add_circle</mat-icon>
      Add Article
    </button>
  </form>
</mat-card>
