<mat-card class="admin-dashboard">
  <h1>Admin Dashboard</h1>

  <div class="button-group">
    <button mat-raised-button color="primary" routerLink="/admin/articles/search">
      <mat-icon>search</mat-icon>
      Search Articles
    </button>
    <button mat-raised-button color="warn" routerLink="/admin/articles/add">
      <mat-icon>note_add</mat-icon>
      Add Article
    </button>
    <button mat-raised-button color="primary" routerLink="/admin/users/search">
      <mat-icon>people</mat-icon>
      Search Users
    </button>
    <button mat-raised-button color="warn" routerLink="/admin/users/register">
      <mat-icon>person_add</mat-icon>
      Add User
    </button>
  </div>

  <router-outlet></router-outlet>
</mat-card>
