<div class="user-details" *ngIf="user">
  <h2>{{ user.name }} {{ user.surname }}</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Telephone Number:</strong> {{ user.telephoneNumber }}</p>
  <p *ngIf="user?.address"><strong>Address:</strong> {{ user.address }}</p>

  <button *ngIf="isAdmin" (click)="editUser()">Modify User</button>
  <button *ngIf="isAdmin" (click)="goToUserDashboard()">User Dashboard</button>

  <button (click)="goBack()" class="back-button">Back to Search</button>
</div>

<div class="user-details" *ngIf="!user">
  <p>User not found.</p>
  <button (click)="goBack()" class="back-button">Back to Search</button>
</div>
