<mat-card class="user-details" *ngIf="user">
  <mat-card-title>{{ user.name }} {{ user.surname }}</mat-card-title>
  <mat-card-content>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Telephone Number:</strong> {{ user.telephoneNumber }}</p>
    <p *ngIf="user?.address"><strong>Address:</strong> {{ user.address }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="isAdmin" (click)="editUser()">
      <mat-icon>edit</mat-icon>
      Modify User
    </button>
    <button mat-raised-button color="accent" *ngIf="isAdmin" (click)="goToUserDashboard()">
      <mat-icon>dashboard</mat-icon>
      User Dashboard
    </button>
    <button mat-button (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
      Back to Search
    </button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="!user"></mat-spinner>
