<mat-card class="register-user-form">
  <h2>Register New User</h2>

  <form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="registerUserForm.get('email')?.invalid && registerUserForm.get('email')?.touched">
        Email is required and must be a valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="plainPassword" type="password" />
      <mat-error *ngIf="registerUserForm.get('plainPassword')?.invalid && registerUserForm.get('plainPassword')?.touched">
        Password is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
      <mat-error *ngIf="registerUserForm.get('name')?.invalid && registerUserForm.get('name')?.touched">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" type="text" />
      <mat-error *ngIf="registerUserForm.get('surname')?.invalid && registerUserForm.get('surname')?.touched">
        Surname is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telephone Number</mat-label>
      <input matInput formControlName="telephoneNumber" type="text" />
      <mat-error
        *ngIf="
          registerUserForm.get('telephoneNumber')?.errors?.['digitsOnly'] &&
          registerUserForm.get('telephoneNumber')?.touched
        "
      >
        Telephone number must contain only digits.
      </mat-error>
      <mat-error
        *ngIf="
          (registerUserForm.get('telephoneNumber')?.errors?.['minlength'] ||
            registerUserForm.get('telephoneNumber')?.errors?.['maxlength']) &&
          registerUserForm.get('telephoneNumber')?.touched
        "
      >
        Telephone number must be exactly 10 digits.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="registerUserForm.invalid">
      <mat-icon>person_add</mat-icon>
      Register User
    </button>
  </form>
</mat-card>
